
/* Define the colors */
:root {
  --light-green: #D8F1E3;
  --main-green: #14B057;
  --dark-green: #073A1C;
  --transback: rgb(255, 255, 255, 0.8);
  --main-green-transback: rgb(20, 176, 87, 0.8);
  --main-fontsize: 14px;
  --usynlig: rgb(0, 0, 0, 0);
  /* Erlend: Noen er nesten helt like av de over men */
  --markakart-logo-fargen: rgb(12, 119, 93, 1);
  /*  */
  --markakart-logo-fargen-neutral1: rgb(12, 118, 119, 1);
  --markakart-logo-fargen-neutral2: rgb(12, 91, 119, 1);
  --markakart-logo-fargen-neutral3: rgb(12, 65, 119, 1);
  --markakart-logo-fargen-neutral4: rgb(12, 38, 119, 1);
  --markakart-logo-fargen-neutral5: rgb(13, 12, 119, 1);
  --markakart-logo-fargen-shades1: rgb(11, 104, 81, 1);
  --markakart-logo-fargen-shades2: rgb(9, 89, 70, 1);
  --markakart-logo-fargen-shades3: rgb(8, 74, 58, 1);
  --markakart-logo-fargen-shades4: rgb(6, 59, 46, 1);
  --markakart-logo-fargen-shades5: rgb(5, 45, 35, 1);
  --markakart-logo-fargen-shades6: rgb(3, 30, 23, 1);
  --markakart-logo-fargen-shades7: rgb(2, 15, 12, 1);
  --markakart-logo-fargen-tints1: rgb(42, 136, 113, 1);
  --markakart-logo-fargen-tints2: rgb(73, 153, 133, 1);
  --markakart-logo-fargen-tints3: rgb(103, 170, 154, 1);
  --markakart-logo-fargen-tints4: rgb(134, 187, 174, 1);
  --markakart-logo-fargen-tints5: rgb(164, 204, 194, 1);
  --markakart-logo-fargen-tints6: rgb(194, 221, 214, 1);
  --markakart-logo-fargen-tints7: rgb(225, 238, 235, 1);
  --markakart-logo-fargen-tones1: rgb(26, 120, 97, 1);
  --markakart-logo-fargen-tones2: rgb(41, 121, 102, 1);
  --markakart-logo-fargen-tones3: rgb(55, 122, 106, 1);
  --markakart-logo-fargen-tones4: rgb(70, 123, 110, 1);
  --markakart-logo-fargen-tones5: rgb(84, 124, 115, 1);
  --markakart-logo-fargen-tones6: rgb(99, 125, 119, 1);
  --markakart-logo-fargen-tones7: rgb(113, 126, 123, 1);
  /* For kontrast */
  --markakart-logo-fargen-complementary: rgb(119, 12, 38, 1);
  --markakart-logo-fargen-triadic1: rgb(93, 12, 119, 1);
  --markakart-logo-fargen-triadic2: rgb(119, 93, 12, 1);
  --markakart-logo-fargen-tetradic1: rgb(39, 12, 119, 1);
  --markakart-logo-fargen-tetradic2: rgb(119, 12, 38, 1);
  --markakart-logo-fargen-tetradic3: rgb(91, 119, 12, 1);
  --markakart-logo-fargen-analogue1: rgb(12, 91, 119, 1);
  --markakart-logo-fargen-analogue2: rgb(12, 38, 119, 1);
  --markakart-logo-fargen-analogue3: rgb(39, 12, 119, 1);
  --markakart-logo-fargen-analogue4: rgb(93, 12, 119, 1);
  --markakart-logo-fargen-analogue5: rgb(119, 12, 92, 1);

  /* GAMLE */
/*   
  --markakart-logo-fargen: rgb(20, 175, 86, 1);
  --markakart-logo-fargen-neutral1: rgb(20, 175, 125, 1);
  --markakart-logo-fargen-neutral2: rgb(20, 175, 163, 1);
  --markakart-logo-fargen-neutral3: rgb(20, 148, 175, 1);
  --markakart-logo-fargen-neutral4: rgb(20, 109, 175, 1);
  --markakart-logo-fargen-neutral5: rgb(20, 70, 175, 1);
  --markakart-logo-fargen-shades1: rgb(18, 153, 75, 1);
  --markakart-logo-fargen-shades2: rgb(15, 131, 65, 1);
  --markakart-logo-fargen-shades3: rgb(13, 109, 54, 1);
  --markakart-logo-fargen-shades4: rgb(10, 87, 43, 1);
  --markakart-logo-fargen-shades5: rgb(8, 66, 32, 1);
  --markakart-logo-fargen-shades6: rgb(5, 44, 21, 1);
  --markakart-logo-fargen-shades7: rgb(3, 22, 11, 1);
  --markakart-logo-fargen-tints1: rgb(49, 185, 107, 1);
  --markakart-logo-fargen-tints2: rgb(79, 195, 128, 1);
  --markakart-logo-fargen-tints3: rgb(108, 205, 149, 1);
  --markakart-logo-fargen-tints4: rgb(138, 215, 171, 1);
  --markakart-logo-fargen-tints5: rgb(167, 225, 192, 1);
  --markakart-logo-fargen-tints6: rgb(196, 235, 213, 1);
  --markakart-logo-fargen-tints7: rgb(226, 245, 234, 1);
  --markakart-logo-fargen-tones1: rgb(33, 169, 91, 1);
  --markakart-logo-fargen-tones2: rgb(47, 163, 96, 1);
  --markakart-logo-fargen-tones3: rgb(60, 157, 102, 1);
  --markakart-logo-fargen-tones4: rgb(74, 151, 107, 1);
  --markakart-logo-fargen-tones5: rgb(87, 145, 112, 1);
  --markakart-logo-fargen-tones6: rgb(101, 139, 117, 1);
  --markakart-logo-fargen-tones7: rgb(114, 133, 122, 1);
 */
  --andre-farger-graa-gainsboro: rgb(220, 220, 220, 1);
  --andre-farger-graa-gainsboro: rgb(211, 211, 211, 1);
  --andre-farger-light-aqua: rgb(128,255,255);
}

/* Font */
* {
  font-family: Arial, Helvetica;
  font-size: 25px;
}

/* Remove default padding from html and body */
html,body {
  margin: 0;
  padding: 0;
  font-size: var(--main-fontsize);
/*   overflow: hidden;
  overscroll-behavior: none; */
  overscroll-behavior-y: contain; /* Eneste som har funket! */
  overflow: hidden;
  height: 100%;
}

/* Default text size within paragraph tags */
p,a,i,ul,li,span {
  margin: 0;
  padding: 0;
  font-size: var(--main-fontsize);
}

ul {
  /* list-style-type: none; */
}

li:before {
  /* content: "🡲 "; */
}

.tekstListe {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.hovedIkonContainer {
  position: fixed;
  right: 0;
  z-index: 2;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.hovedIkon {
  width: 64px;
  height: auto;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 16px;
  opacity: 0.8;
}

.skoleIkon {
  pointer-events: all;
  cursor: pointer;
}
.skoleIkon:hover {
  opacity: 1;
}

.skoleLogoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  /* background-color: rgba(0,0,0,0.25); */
}

.skoleLogo {
  width: 100%;
  max-width: 192px;
  height: auto;
  opacity: 0.8;
  /* cursor: pointer; */
}
/* .skoleLogo:hover {
  opacity: 1;
} */

.opacity0 {
  opacity: 0;
}
.opacity1 {
  opacity: 1;
}

/* =======================================================
== TITLER
======================================================= */

h1 {
  color: black;
  margin-left: 1rem;
}

h2 {
  margin-top: 0;
  padding-top: 0;

  /* border-bottom: 5px solid var(--main-green); */
  border-bottom: 5px solid var(--markakart-logo-fargen);
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
}

.h2stil {
  text-align: center;
  margin-top: 0;
  padding-top: 0;

  /* border-bottom: 5px solid var(--main-green); */
  border-bottom: 5px solid var(--markakart-logo-fargen);
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
}

.undertittel {
  padding-bottom: 0.33rem;
  margin-bottom: 0.33rem;

  /* border-bottom: 3px solid var(--main-green); */
  border-bottom: 3px solid var(--markakart-logo-fargen);
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.h2sentrert {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =======================================================
== KNAPPER
======================================================= */

.markaKnapp {
  height: 48px;
  width: 100%;

  font-size: large;
  font-style: normal;
  font-weight: bold;

  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0);

  z-index: 1;
  pointer-events: inherit;
  cursor: pointer;
  /* Arver pointerevent fra div over */

  opacity: 1;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}
.markaKnapp:hover {
  border-color: var(--markakart-logo-fargen-tints1);
}

/* Button for closing modalboxes*/
.lukkeKnapp {
  color: #073A1C;
  font-weight: bolder;
  font-size: 20px;

  border-color: #073A1C;
  background: var(--transback);

  border-width: 3px 3px;
  border-radius: 5px;

  position: absolute;
  margin: 10px;
  top: 0px;
  right: 0px;

  height: 30px;
  width: 30px;

  z-index: 1;
}
.lukkeKnapp:hover {
  color: #14B057;
  border-color: #14B057;
}

#aapneHovedVinduKnapp {
  position: fixed;
  margin-top: 1rem;
  margin-left: 1rem;
  height: 48px;
  width: 448px;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  /* text-align:center; */

  /* background-color: var(--markakart-logo-fargen-shades4); */
  background-color: var(--markakart-logo-fargen-tones5);
  /* border: 3px solid black; */
  border: 3px solid var(--markakart-logo-fargen-shades4);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  cursor:pointer;
  /* transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s; */
}
#aapneHovedVinduKnapp:hover {
  background-color: var(--markakart-logo-fargen-shades2);
}

#aapneHovedVinduKnapp div {
  align-self: center;
}

/* Må ha høyere z-indeks en hovedVinduet! */
.hovedVinduKnapper {
  width: 448px;
  margin-left: 1rem;
  margin-top: 1rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 3px solid var(--markakart-logo-fargen-shades4);
  position: fixed;
  z-index: 7;
  display: flex;
  justify-content: space-between; 
  background-color: var(--markakart-logo-fargen-tones5);
}

.hovedVinduKnapper div {
}

.markaKnappene {
  width: 100%;
  padding: 1rem;
  padding-right: 0;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  /* background-color: rgb(0,0,0,0.25); */
}

.markaKnappene div {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  pointer-events: inherit;
}

.markaKnappene div img {
  height: 48px;
  width: 48px;
  align-self: center;
}

.markaKnappDivider {
  height: 2rem;
  width: 0.25rem;
  background-color: black;
  align-self: center;
}

.markaKnappene button {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hovedVinduKnapper div button {

}

#headerKnappKartMeny {
  color: black;
  border-bottom: 3px solid var(--markakart-logo-fargen-tones5);
}

#headerKnappDel {
  color: black;
  border-bottom: 3px solid var(--markakart-logo-fargen-tones5);
}

#headerKnappOm {
  color: black;
  border-bottom: 3px solid var(--markakart-logo-fargen-tones5);
}

#headerKnappStott {
  color: black;
  border-bottom: 3px solid var(--markakart-logo-fargen-tones5);
}

#lukkeHovedVinduKnapp {
  height: 48px;
  width: 48px;
  margin: 1rem;
  text-align: center;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 5px;
  background-color: var(--markakart-logo-fargen-shades6);
  color: white;
  cursor: pointer;
}

#lukkeHovedVinduKnapp:hover {
  background-color: var(--markakart-logo-fargen-shades3);
}

/* =======================================================
== HOVEDTABS: To tabs for "Kart"
======================================================= */


#hovedMenyTabsContainer {
  width: 100%;
  display: flex;
  /* margin-bottom: 0.75rem; */
  justify-content: space-evenly;
  justify-items: center;
  gap: 1rem;
  /* background-color: rgba(0,0,0,0.25); */
  margin-bottom: 2rem;
}
.hovedMenyTabsContainer div {
  width: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: inherit;
}
.hovedMenyTabsContainer button {
  width: 100%;
  padding: 1rem;
  /* padding: 0.5rem; */
  /* margin: 0; */
  cursor: pointer;
  border: 0;
}

.hovedMenyTabAktiv {
  color: white;
  background-color: var(--markakart-logo-fargen-neutral2);
}
.hovedMenyTabAktiv:hover {
  /* background-color: var(--markakart-logo-fargen-neutral1); */
  background-color: var(--markakart-logo-fargen-neutral2);
  filter: saturate(80%);
}

.hovedMenyTabInaktiv {
  color: black;
  /* background-color:gainsboro; */
  /* background-color: var(--markakart-logo-fargen-neutral2); */
  background-color: var(--markakart-logo-fargen-tints4);
  filter: saturate(0);
}
.hovedMenyTabInaktiv:hover {
  /* background-color:#cccccc; */
  /* background-color: var(--markakart-logo-fargen-neutral1); */
  background-color: var(--markakart-logo-fargen-tints3);
  filter: saturate(0);
}

/* =======================================================
== HOVEDVINDU
======================================================= */

.hovedVinduContainer {
  position: fixed;
  /* margin-top: 10rem; */
  margin-top: 140px;
  margin-left: 0rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
  top: 0;
  bottom: 0;
  width: 448px;

  display:flex;
  flex-direction: column;
  z-index: 5;
  border: 3px solid var(--markakart-logo-fargen-shades4);

  /* border-radius: 4px; */
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  /* background-color: rgba(255, 255, 255, 0.9); */
  /* transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s; */
  pointer-events:all;
}

.slide {
  width: 100%;
 /*  height: 48px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: all;
  background-color: rgb(220, 220, 220, 1);
  /* background-color: rgb(0,0,0,0.25); */
}

.slide div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 32px;
  height: 24px;
  align-self: center;
  /* background-color: rgb(0,0,0,0.25); */
}

.slide img {
  width: 100%;
  height: 24px;
  /* align-self: center; */
}

#slideTextTest {
  display: none;
  position: fixed;
  min-width: 128px;
  max-width: 256px;
  min-height: 32px;
  max-height: 48px;
  right: 0;
  bottom: 20rem;
  z-index: 1;
  margin-right: 0.5rem;
  background-color: rgba(0,0,0,0.25);
  font-size: medium;
}

#thresholdTestButton {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.hovedVindu {
  
  height: 100%;

  /* margin-top: 1rem; */
  
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  
  overflow-y: scroll;
  overflow-x: hidden;
 

  opacity: 1;
  /* transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s; */
}

.hovedVinduScroll {
  /* height: 100%; */
  /*
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  */
/* 
  overflow-y: scroll;
  overflow-x: hidden;
   */
}

#kartHovedMeny {

}

#kartHovedMeny li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#kartHovedMeny li div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

#kartHovedMeny li div div {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
}

#kartHovedMeny li div button {
  width: 24px;
  height: 24px;
  font-size: large;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
#kartHovedMeny li div button:hover {
  background-color: var(--markakart-logo-fargen-tints5);
}

#kartHovedMeny li div div div {
  width: 100%;
  padding-bottom: 4px;
  /* border-bottom: 3px solid var(--main-green); */
  border-bottom: 3px solid var(--markakart-logo-fargen);
  font-size: large;
  font-weight: bold;
}

#kartHovedMeny li div div img {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  margin-right: 1rem;
}
#kartHovedMeny li div div img:hover {
  background-color: rgb(0,0,0,0);
}

.expandButton {
  padding-bottom: 10px;
  transition: 0.5s;
}

.gruppeMeny {
  padding-bottom: 0.5rem;
}

.submenu {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 0;
  opacity: 0;
}

.submenu li {
  /* margin-left: 1.75rem; */
  margin-left: 2.5rem;
  /* margin-left: 3.75rem; */
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  border-bottom: none;
  /* transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s; */
}

.submenu li div {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  justify-content: left;
}

/* For .... sake... For at ellipsis skal funke samtidig som at <a> skal være
trykbart 100% av bredden, må man ha teksten i div også i span. */
.submenu li div div span {
  margin-left: 1rem;
  font-size: medium;

  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.indicator {
  height: 12px;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  opacity: 0.1;
  background-color: var(--markakart-logo-fargen-tints3);
  transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}

.kartlagTekst {
  
}

.lagLenke {
  /* background-color: rgb(0, 0, 0, 0.5); */
}

#alleKnapperContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  pointer-events: all;
  /* align-content:center; */
  /* background-color: rgba(0,0,0,0.25); */
}

#skjulAlleLagKnapp {
  /* max-width: 128px; */
  max-width: 156px;
  border-radius: 4px;
  padding: 1rem;
  /* background-color: var(--markakart-logo-fargen-neutral4); */
  /* background-color: var(--markakart-logo-fargen-complementary); */
  /* background-color: var(--markakart-logo-fargen-tetradic3); */
  background-color: var(--markakart-logo-fargen-analogue1);
  filter: saturate(100%);
  /* filter:brightness(1); */
}
#skjulAlleLagKnapp:hover {
  /* background-color: var(--markakart-logo-fargen-neutral3); */
  /* background-color: var(--markakart-logo-fargen-complementary); */
  /* background-color: var(--markakart-logo-fargen-tetradic3); */
  background-color: var(--markakart-logo-fargen-analogue1);
  filter: saturate(75%);
  /* filter:brightness(1.25); */
}
/* Hm... Ikke ha? */
#visAlleLagKnapp {
  max-width: 128px;
  border-radius: 4px;
  background-color: var(--markakart-logo-fargen-shades3);
}
#visAlleLagKnapp:hover {
  background-color: var(--markakart-logo-fargen-shades1);
}

/* Hovedmeny - Aktive kartlag */

#kartSideAktiveLag {
  display: none;
  /* background-color: rgba(84, 231, 84, 0.75); */
}
#kartSideAktiveLag li {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*
  background-color: rgba(80,145,145, 0.2);
  background-color: rgba(204, 204, 204, 0.2);
  */

  /* Mens debugging */
  /*background-color: rgba(0,0,0,0.25);*/
}

.aktivtLagHeader {
  width: 100%;
  height: 2rem;
  display: flex;
  gap: 4px;
  align-items: center;
  /* justify-content: start; */
  justify-content: space-between;
  /* background-color: rgba(216, 50, 50, 0.1); */
}
.aktivtLagHeaderVenstre {
  width: 76%;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 4px;
  /* background-color: rgba(0,0,0,0.1); */
}
.aktivtLagHeaderHoyre {
  width: 24%;
  height: 2rem;
  display: flex;
  justify-content:end;
  gap: 4px;
  /* background-color: rgba(255, 0, 0, 0.25); */
}

.aktivtLagFargeContainer {
  height: 12px;
  width: 12px;
  border: 1px solid black;
}

.aktivtLagFarge {
  cursor: pointer;
  height: 12px;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  opacity: 1.0; /* Lag under Aktive Lag skal vise fargen. */
  background-color: var(--markakart-logo-fargen-tints3);
  transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}
.aktivtLagNavn {
  font-size:large;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aktivtLagRedigerPanel {
  display: none;
  width: 100%;
  /* height: 200px; */
  margin-top: 1rem;
  border-top: 1px solid gray;
  /* padding-top: 1rem; */
  /* background-color: rgba(255, 103, 103, 0.25); */
}
.aktivtLagRedigerIkonKollaps {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  /* padding: 4px; */
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  /* background-color: rgba(255, 0, 0, 0.15); */
  cursor: pointer;
  border-radius: 2px;
  /* padding-top: 0.25rem; */
  margin-top: 0.5rem;
  /* margin-bottom: 0.5rem; */
}
.aktivtLagRedigerIkonKollaps:hover {
  /* background-color: rgba(255, 0, 0, 0.3); */
}
.aktivtLagRedigerIkonKollaps img {
  width: 75%;
  height: 75%;
}
.aktivtLagEndreFargeContainer {
  display: none;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.aktivtLagEndreFargeTekst {
  font-size: 14px;
  font-style: italic;
  align-self: center;
}
.aktivtLagEndreFargeVelgerContainer {
  width: 100%;
  max-width: 128px;
}

.aktivtLagMiniKnapp {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}
/* Rediger */
.aktivtLagRediger {
  background-color: rgba(55, 149, 192, 0.15);
  border-radius: 2px;
}
.aktivtLagRediger:hover {
  background-color: rgba(55, 149, 192, 0.3);
}
.aktivtLagRediger img {
  width: 66%;
}
/* Info */
.aktivtLagInfo {
  background-color: rgba(55, 149, 192, 0.15);
  border-radius: 2px;
}
.aktivtLagInfo:hover {
  background-color: rgba(55, 149, 192, 0.3);
}
.aktivtLagInfo img {
  width: 66%;
}
/* Slett */
.aktivtLagSlett {
  background-color: rgba(255, 0, 0, 0.15);
  border-radius: 2px;
  /* background-color: green; */
}
.aktivtLagSlett:hover {
  background-color: rgba(255, 0, 0, 0.25);
}
.aktivtLagSlett div {
  font-size:smaller;
}

.aktivtLagEkstraInfo {
  display: none;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid gray;
/* 
  border: 1px solid lightslategray;
  border-radius: 2px;
   */
  /* background-color: rgba(0,0,0,0.25); */
}
.aktivtLagInfoIkonKollaps {
  display: flex;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  /* background-color: rgba(255, 0, 0, 0.15); */
  cursor: pointer;
  border-radius: 2px;
  margin-top: 0.5rem;
  /* margin-bottom: 0.5rem; */
}
.aktivtLagInfoIkonKollaps:hover {

}
.aktivtLagInfoIkonKollaps img {
  width: 75%;
  height: 75%;
}
.aktivtLagTegnforklaring {
  display: none;
  width: 100%;
  /* padding-top: 1rem; */
  padding-top: 0.5rem;
  /* padding-right: 0.5rem; */

/*   margin: 0 auto;
  justify-self: center; */
  /* padding: 4px; */
  /* margin-top: 1rem; */
  /* background-color: rgba(0,0,0,0.25); */
}
.aktivtLagTegnforklaringsBilde {
  display: none;
/*   justify-self: center;
  margin: 0 auto; */
  border: 1px solid gainsboro;
  max-width: 100%;
}

.toKolonnerContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  /* gap: 8px; */
  margin-top: 0.5rem;
  justify-content: space-between;
  /* background-color: rgba(50, 100, 150, 0.25); */
}
.venstreKolonne {
  width: 50%;
  font-size: 14px;
  font-style:italic;
  align-self:flex-start;
}
.hoyreKolonne {
  width: 50%;
  font-size: 14px;
  align-self: center;
  justify-self:start;
  text-align:start;
  word-wrap:break-word;
  white-space: normal;
  /* background-color: rgba(0,0,0,0.25); */
}

/* =======================================================
== SLIDER
======================================================= */

.slidecontainer {
  display: flex;
  flex-direction: column;
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.sliderVerdierContainer {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.sliderVerdier {
  /* position: absolute; */
  width: 100%;
  /* left: 2rem; */
  text-align:left;
  /* background-color: rgba(0,0,0,0.25); */
}

/* =======================================================
== HOVEDVINDU -> TEST!
======================================================= */

.debugVindu {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.25);
}

#debugVinduTekst {
  width: auto;
  font-size: medium;
  background-color: rgba(255, 0, 0, 0.25);
}

.hovedVinduTest {
  height: 128px;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: rgba(255, 0, 0, 0.25); */

  opacity: 1;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}

#kartHovedMenyTest li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#kartHovedMenyTest li div {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: rgb(0,0,0,0.25); */
}

#kartHovedMenyTest li div div {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

#kartHovedMenyTest li div div img {
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  margin-right: 1rem;
  /* background-color: rgb(0, 0, 0, 0.25); */
}
#kartHovedMenyTest li div div img:hover {
  /* background-color: rgb(0,0,0,0); */
}

#kartHovedMenyTest li div div div {
  /* background-color: rgba(255, 255, 255, 0.25); */
}

#kartHovedMenyTest li div div div span {
  width: 100%;
  padding-bottom: 4px;
  margin-right: 5rem;
  border-bottom: 3px solid var(--main-green);
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#kartHovedMenyTest li div div {
  /* width: 100%; */
}

.expandButtonTest {
  padding-bottom: 10px;
  transition: 0.5s;
}

.submenuTest {
  padding-top: 0rem;
  padding-bottom: 0rem;
/*   height: 0;
  opacity: 0; */
  height: auto;
  opacity: 1;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.submenuTest li {
  /* margin-left: 1.75rem; */
  margin-left: 2.5rem;
  /* margin-left: 3.75rem; */
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  border-bottom: none;
  background-color: rgba(0,0,0,0.25);
  /* transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s; */
}

.lagLenkeTest {
  width: 100%;
  display: flex;
  align-items: center;
  color: black;
  justify-content: left;
  background-color: rgba(255, 0, 0, 0.25);
}

.divIndikatorTest {
  height: 12px;
  width: 12px;
  min-width: 12px;
  max-width: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  opacity: 1;
  background-color: rgba(76, 0, 255, 0.5);
  transition: visibility 0.5s linear 0.5s, opacity 0.5s 0s, transform 0.5s;
}

/* For .... sake... For at ellipsis skal funke samtidig som at <a> skal være
trykbart 100% av bredden, må man ha teksten i div også i span. */
.submenuTest li div div span {
  margin-left: 1rem;
  font-size: medium;

  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;

  background-color: rgba(0,0,0,0.25);
}

/* =======================================================
== FEATURE INFO
======================================================= */

#featureInfo {
  display: none;
  /* display: block; */
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  word-wrap: break-word;
}

.featureInfoKnapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  /* background-color: rgba(0,0,0,0.25); */
}

.tilbakeKnapp {
  width: 32px;
  height: auto;
  left: 0;
  top: 0;
  cursor: pointer;
}

.tilbakeKnapp2 {
  width: 32px;
  height: auto;
  left: 0;
  bottom: 0;
  cursor: pointer;
}

.finnKnapp {
  width: 32px;
  height: auto;
  cursor: pointer;
}

.featureInfoGrad {
  max-height: 2rem;
  height: auto;
}

.featureBilder {
  width: 100%;
  padding-bottom: 1rem;
}

.featureBilder img {
  width: 100%;
  height: auto;
}

.featureHovedBilde {

}

.featureHovedBildeBeskrivelse{
  font-size: small;
  font-style: italic;
  text-align:center; /* Sentrerer bildebeskrivelsen her. */
  /* background-color: rgba(0,0,0,0.2); */
}

.featureTagsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.featureTagContainer {
  display: flex;
  align-items: center;
}

.featureLengdeContainer {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  /* background-color: rgba(0,0,0,0.2); */
}

.featureLengde {
  font-size: 1rem;
  font-weight: bold;
  /* background-color:antiquewhite; */
}

.featureMaanedFraTil {
  margin-left: 0.75rem;
  align-self: center;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  display: none;
}

.featureGradTekst {
  margin-left: 0.75rem;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  display: none;
}

.featureTurTypeTekst {
  margin-left: 0.75rem;
  align-self: center;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid black;
  display: none;
}

.featureIngress {
  /* margin-top: 32px; */
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: medium;
  font-weight:bold;
}

.featureTransport {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: medium;
}

.featureBeskrivelse {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: medium;
}

.featureTurenVidere {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: medium;
}

.featureLesMer {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: medium;
}

#featureSkaperContainer {
/*   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: rgba(0,0,0,0.25); */
}
.featureSkaper {
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  /* font-style:italic; */
  /* font-weight: bold; */
  width: fit-content;
  margin: 0 auto;
  color:var(--markakart-logo-fargen-shades7);
  /* background-color: rgba(0,0,0,0.25); */
}
.featureSkaperOrganisasjon {
  font-size: small;
  font-style:italic;
  font-family: 'Times New Roman', Times, serif;
  width: fit-content;
  margin: 0 auto;
  color: var(--markakart-logo-fargen);
  /* padding-top: 4px; */
}

.featureLydContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  /* background-color: rgba(0,0,0,0.25); */
}
#featureLyd {
  display: block;
  margin: 0 auto;
}
#featureLydIkon {
  width: 48px;
  height: auto;
  cursor: pointer;
}

.featureInfoDivider {
  height: 1rem;
}

/* =======================================================
== DEL KARTVISNING
======================================================= */

#delKartvisning {
  display: none;
}

.formInput {
  width: 100%;
  font-size: 18px;
  font-style: normal;
}

.formInput option {
  font-size: 18px;
  font-style: normal;
}

#delKartvisning form label {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}

.genererUrlContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#genererUrlKnapp {
  max-width: 256px;
  /* border-radius: 4px; */
  color: white;
  background-color: var(--markakart-logo-fargen-shades3);
}
#genererUrlKnapp:hover {
  background-color: var(--markakart-logo-fargen-shades1);
}

#generertURLContainer {
  min-height: 64px;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  padding-top: 0rem;
  padding-right: 3rem;
  padding-bottom: 0.5rem;
  position: relative;
  overflow: none;
  word-break: break-all;
  /* text-overflow: ellipsis; */
  border-radius: 4px;
  background-color: var(--andre-farger-graa-gainsboro);
  /* background-color: rgb(0,0,0,0.25); */
}

#generertURL {
  
}

#kopierURL {
  position: absolute;
  width: 32px;
  height: auto;
  top: 8px;
  right: 4px;
  pointer-events: all;
  cursor: pointer;
}

#callbackKopiering {
  margin-left: 0.5rem;
  font-weight: bold;
}

#fargeVelgerContainerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgba(0,0,0,0.25);
}

#fargeVelgerContainer {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: rgba(47, 0, 255, 0.33);
}

#fargeVelgerContainer div {
  width: 25px;
  height: 25px;
  align-self: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.25);
}

.formColorPickerContainer {
  width: 100%;
  padding-left: 0.5rem;
  margin-right: 1rem;
  background-color: var(--markakart-logo-fargen);
  /* background-color: var(--markakart-logo-fargen-neutral5); */
}

.formColorPickerContainer button {
  width: 100%;
  font-size: 18px;
  font-style: normal;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.figurFargeForm {

}

.colorInputContainer {
  width: 100%;
}

.colorInputContainer input {

}

.inputFarge {

}

.colorPickerButton {
  width: 32px;
  height: auto;
}

/* =======================================================
== OM MARKAKARTET
======================================================= */

#omMarkakartet {
  display: none;  
}

.divTittelFull {
  display: flex;
  justify-content: center;
}

.divTittel {
  display: flex;
  flex-direction: row;
  align-items:end;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  /* margin-bottom: 4rem; */
  /* background-color: rgb(0,0,0,0.25); */
}

.noaIkon {
  height: 54px;
  width: 54px;
  margin-right: 1rem;
}

h1 {
  font-size: 44px;
  margin: 0; padding: 0;
  /*border-bottom: 6px solid var(--markakart-logo-fargen);*/
}

/* =======================================================
== STØTTE
======================================================= */

#stotte {
  display: none;  
}

.NoaLogoContainer {
  width: 100%;
}

.NoaLogoContainer img {
  width: 100%;
  height: auto;
}

/* =======================================================
== MAP OVERLAY
======================================================= */

#hoverInfo {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: rgba(0,0,0,0.75);
  color: white;
/*   background-color: rgba(255,255,255,1);
  color: black; */
  text-align: center;
  border-radius: 8px;
  padding: 8px;
  left: 50%;
  transform: translateX(1rem);
  visibility: hidden;
  pointer-events: none;
  font-size: medium;
}

.divHolder {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  margin-bottom: 4px;
  /* background-color: rgba(0,0,0,1); */
  /* width: auto; */
}
.divHolder:hover {
  /* VIKTIG NOTAT (VERSJON 1): Ingen hover farge på versjon 1. */
  /* color: rgb(249, 255, 128); */
}

.divFarge {
  width: 12px;
  height: 12px;
  min-width: 12px;
  background-color: rgba(0,0,0,0.25);
  border-width: 3px;
  border-style: solid;
  border-color: black;
  margin-right: 8px;
}

.popupTurIkon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 8px;
  /* background-color: rgba(255,255,255,0.25); */
}

.divNavn {
  font-size:large;
  padding-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.popup-content {
  z-index: 1;
  /* pointer-events: all; */
  pointer-events: none; /* For versjon 1. */
  /* width: auto; */
  /* max-width: 256px; */
/*   width: 50px;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.ol-popup {
  display: none;
  position: absolute;
  /* background-color: white; */
  background-color: rgb(5, 44, 21, 0.9);
  color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  /* padding: 15px; */
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #cccccc;

  bottom: 12px;
  left: -50px;

  width: max-content;

  /* min-width: 128px; */
  /* min-width: 156px; */
  /* max-width: 256px; */

  max-width: 420px;

/*   max-width: 256px;
  overflow: hidden;
  text-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis; */

/*   width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis; */

  pointer-events: all;
  cursor: pointer;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  /* border-top-color: white; */
  border-top-color: rgb(5, 44, 21, 0.9);
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  font-size: medium;
  pointer-events: all;
  cursor: pointer;
}
.ol-popup-closer:after {
  content: "✖";
}



.infoPil {
  /* path: "M 10,50 v -20 h 40 v -20"; */
  /* clip-path: circle(50%); */
  /* font-size: 40px; */
  /* position:absolute; */
  margin: 0px;
  position: absolute;

  left: 0px;
  top: 0px;

  width: 100px;
  height: 100px;

  border-bottom: 5px solid red;
  border-radius: 5px;
  transform: translateY(-50px) translateX(20px) rotate(45deg);
}

.ol-selectable {
  /* deaktiver pointerevents for openlayers overlay! 
  Det fungerte ikke med overstyring pa annen mate. */
  pointer-events: none !important;
}

/* HVA GJØR DE TO UNDER? */

/* 
.menu-rightshift {
  left: 425px;
  transition: 1s;
}

.lefthidden {
  left: -1000px;
  transition: 1s;
}
 */

/* =======================================================
== WMS...
======================================================= */

.wmsmenu {
  pointer-events: none;
  opacity: 0;
}



/* =======================================================
== MENY-GREIER
======================================================= */

.HexpandedButton {
  /* path: "M 10,50 v -20 h 40 v -20"; */
  /* clip-path: circle(50%); */
  /* font-size: 40px; */
  position: absolute;
  width: 10px;
  height: 10px;

  right: -2px;

  border-bottom: 5px solid black;
  transform:
    translateY(6px) translateX(6px) rotate(-45deg);
}

.VexpandedButton {
  position: absolute;
  width: 10px;
  height: 10px;

  left: -2px;

  border-bottom: 5px solid black;
  transform:
    translateY(6px) translateX(6px) rotate(45deg);
}

.expandedButtonSymbol {
  position: relative;
  background-color: none;

  width: 3px;
  height: 10px;

  margin: 10px 20px;

  bottom: 10px;
  left: -11px;
}

.expandedButton {
  transition: 0.5s;

  position: relative;
  float: left;

  width: 30px;

  left: -35px;
  /* shift to the outside of the green stroke */

  background-color: none;
  bottom: 5px;
}

.rotated {
  transition: 0.5s;
  transform: rotate(-90deg);
}

.menutextButton {
  /* Mulighet for å kunne trykke på titelen  */
  position: relative;
  float: left;

  left: -35px;

  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;

  text-align: left;
  min-width: 200px;
}

/* valgmulighet fra meny */
.menuOption {
  text-align: left;
  background: none;
  color: black;
  float: left;
  font-size: 15px;
  font-weight: bold;

  width: 300px;

  margin: 3px;

  border-color: rgb(216, 88, 5, 0);
}

.menuOptionUncheck {
  /* Gjør den vertikale linjen usynlig */
  opacity: 0;
  transition: 0.2s;
}

.verticalLine {
  /* Den vertikale linjen før valgmuligheten */
  border-left: 6px solid var(--main-green);
  position: relative;
  left: -10px;
  font-size: inherit;
  font-weight: inherit;
  transition: 0.2s;
}

.optionsFromMenu {
  font-size: 0px;
  position: relative;
  opacity: 1;
  margin: 5px;

  top: 0px;

  transition: 0.5s;

  height: auto;
  /* Animerer ikke korrekt når jeg bruker auto */

  overflow: hidden;
}

.menuOption:hover {
  font-weight: bold;
  color: var(--main-green);
}

.optionsHidden {
  /* Funksjon for å lukke hele menyen */
  margin: 5px;
  position: relative;
  opacity: 0;

  top: -100px;

  height: 0;
  /* Ingen høyde */

  overflow: hidden;
  /* Fikser boksen */

  transition: 0.5s;
}

/* =======================================================
== KART STIL
======================================================= */

.rightButtonsContainer {
  display: flex;
  flex-direction:column;
  /* gap: 1rem; */
  position: fixed;
  z-index: 1;
  right: 0rem;
  bottom: 12rem;
  /* background-color: rgba(0,0,0,0.25); */
}

.rightButton {
  /* display: block; */
  z-index: 1;
  width: 42px;
  height: 42px;
  border-radius: 4px;
  border-width: 3px;
  border-style:solid;
  opacity: 0.8;
  cursor: pointer;
}

.zoomButtons {
  color: white;
  background-color: var(--markakart-logo-fargen);
  border-color: var(--markakart-logo-fargen);
}
.zoomButtons:hover {
  background-color: var(--markakart-logo-fargen-shades3);
}
.zoomButtons:active {
  background-color: var(--markakart-logo-fargen-shades5);
}

#buttonZoomIn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#buttonZoomOut {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.gpsButtonContainer {
  margin-bottom: 1rem;
  border-color: var(--markakart-logo-fargen-tones7);
  background-color: var(--markakart-logo-fargen-tones7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpsButtonContainer img {
  width: 32px;
  height: auto;
}

.disabledHover {

}
.disabledHover:hover {
  background-color: var(--markakart-logo-fargen-tones5) !important;
}
.enableHover {}
.enabledHover:hover {
  background-color: var(--markakart-logo-fargen-shades3) !important;
}

.debugGPSContainer {
  padding: 4px;
  width: 256px;
  height: 32px;
  position: fixed;
  z-index: 1;
  bottom: 16rem;
  right: 0;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events:none;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

.debugGPS {
  font-size: small;
  color: white;
}

.bakgrunnGruppeSkjult {
  display: none;
}

#byttBakgrunn {
  width: 76px;
  height: 76px;
  z-index: 3;
  position: fixed;
  bottom: 1.5rem;
  right: 5rem;
  /* border: rgba(0, 0, 0, 0.8) 3px solid; */
  /* border: rgba(0, 0, 0, 1) 3px solid; */
  border: rgba(0, 0, 0, 1) 3px solid;
  /* border-color: black;
  border-style: solid;
  border-width: 3px; */
  border-radius: 4px;
  opacity: 0.75;
  cursor: pointer;
  padding: 1px;
  background-color: white;
}

#containerBytteBakgrunn {
  position: fixed;
  display: none;
  z-index: 2;
  right: 5rem;
  bottom: 1.5rem;
}

#containerBytteBakgrunn img {
  position: fixed;
  z-index: 1;
  right: 5rem;
  /* bottom: 1.5rem; */
  width: 78px;
  height: 78px;
  border: rgba(255, 255, 255, 0.75) 3px solid;
  border-radius: 4px;
  /* opacity: 0.9; */
}

#bytteBakgrunnOSM {
  bottom: 14rem;
  cursor: pointer;
  /* filter: saturate(100%); */
  filter: none;
  transition: all 300ms ease;
}
#bytteBakgrunnSatelitt {
  bottom: 11.5rem;
  filter: saturate(0%);
  cursor: auto;
  /* pointer-events: none; */
  transition: all 300ms ease;
}
#bytteBakgrunnTopografisk {
  bottom: 9rem;
  filter: saturate(0%);
  cursor: auto;
  /* pointer-events: none; */
  transition: all 300ms ease;
}
#bytteBakgrunnTopografiskGraa {
  bottom: 6.5rem;
  filter: saturate(0%);
  cursor: auto;
  /* pointer-events: none; */
  transition: all 300ms ease;
}
#bytteBakgrunnForenklet {
  bottom: 4rem;
  cursor: auto;
  /* pointer-events: none; */
  transition: all 300ms ease;
}

#scale-line-id {
  position: fixed;
  z-index: 1;
  display: block;
  /* right: 1.5rem; */
  bottom: 0.75rem;
  /* bottom: 1.25rem; */
  margin-left: 50%;
  stroke-width: 3px;
  opacity: 0.75;
  cursor: pointer;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-scale-line {
  position: relative;
  z-index: 3;
  color: black;
  background-color: var(--markakart-logo-fargen);
  opacity: 0.8;
  font-size: 30px;
}

.ol-scale-line-inner {
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid white;
  border-top: none;
}

/* Zoom buttons */
.ol-zoom {
  background: var(--markakart-logo-fargen);
  opacity: 0.8;
}

.ol-zoom:hover {
  background: var(--markakart-logo-fargen);
  opacity: 1
}

.ol-control button {
  background-color: var(--markakart-logo-fargen);
  opacity: 1;
  color: white;

  /* button size */
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.ol-control button:hover {
  background-color: var(--markakart-logo-fargen-shades3);
  z-index: 3;
}

.ol-control button:visited {
  background-color: var(--markakart-logo-fargen-shades3);
  z-index: 3;
}

/* =======================================================
== RESPONSIVE WIDTH
======================================================= */

/* @media only screen and (max-width : 512px){}
@media only screen and (min-width : 512px){} */

/* NOTE: Den funker, bare at testing på laptopen så kan nettleservinduet bare
reduseres til litt under 600px. Derfor så jeg ingen forskjell med 384px og 512px. */

/* 
  MOBILE 
*/
@media only screen and (max-width : 600px){
  .featureGradTekst, .featureTurTypeTekst, .featureMaanedFraTil, .featureLengdeContainer {
    margin-left: 0.5rem;
    padding: 0.33rem;
  }
  #scale-line-id {display: none;}
  #zoomknapper {display: none;}
  .hovedIkonContainer{
    right: unset;
    left: 0;
  }
  .hovedIkon {
    margin-right: unset;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    /* margin-right: 0.5rem; */
    width: 48px;
    border-radius: 8px;
  }
  .hovedVinduKnapper {
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-width: 0px;
    border-top: 3px solid var(--markakart-logo-fargen-shades4);
    /* Test */
    /* height: 0; */
  }
  .markaKnappene {
    padding: 0.75rem;
    padding-right: 1rem;
  }
  .markaKnappene div img {
    height: 32px;
    width: 32px;
    /* background-color: rgba(0,0,0,0.25); */
  }
  .markaKnappene div button {
    font-size:medium;
    /* background-color: rgba(255,255,255,0.25); */
    height: 32px;
  }
  .lukkeHovedKnapper {
    display: none;
  }

  .hovedVinduContainer {
    width: 100%;
    margin-top: 140px;
    margin-left: 0;
    margin-bottom: 96px;
    margin-bottom: 80px;
    /* margin-bottom: 0px; */
    padding-bottom: 1rem;
    border-width: 0;
    /* border-top: 3px solid var(--markakart-logo-fargen-shades4); */
    border-top: 3px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .slide {
    display: flex;
  }
  .rightButtonsContainer {
    margin-right: 0.5rem;
    /* bottom: 12rem; */
    bottom: 10rem;
    bottom: 9.5rem;
  }
/*   .gpsButtonContainer {
    margin-right: 0.5rem;
    bottom: 12rem;
  } */
  .debugGPSContainer {
    margin-right: 0.5rem;
    bottom: 23rem;
  }
}
#byttBakgrunn {
  right: unset;
  left: 0.5rem;
  bottom: 9.5rem;
}
#containerBytteBakgrunn {
  right: unset;
  left: 0.5rem;
  bottom: 9.5rem;
}
#bytteBakgrunnOSM {
  right: unset;
  left: 0.5rem;
  bottom: 22.5rem;
}
#bytteBakgrunnSatelitt {
  right: unset;
  left: 0.5rem;
  bottom: 20rem;
}
#bytteBakgrunnTopografisk {
  right: unset;
  left: 0.5rem;
  bottom: 17.5rem;
}
#bytteBakgrunnTopografiskGraa {
  right: unset;
  left: 0.5rem;
  bottom: 15rem;
}
#bytteBakgrunnForenklet {
  right: unset;
  left: 0.5rem;
  bottom: 12.5rem;
}

/*
.hovedMenyTabsContainer button {
  padding: 0.5rem;
} */

/* 
  DESKTOP
*/
@media only screen and (min-width : 600px){
  .featureGradTekst, .featureTurTypeTekst, .featureMaanedFraTil, .featureLengdeContainer {
    margin-left: 0.75rem;
    padding: 0.5rem;
  }
  #scale-line-id {display: block;}
  #zoomknapper {display: block;}
  .hovedIkonContainer{
    left: unset;
    right: 0;
  }
  .hovedIkon {
    margin-left: unset;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 64px;
    border-radius: 16px;
  }
  .hovedVinduKnapper {
    bottom: unset;
    width: 384px;
    margin-left: 0rem;
    margin-top: 1rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-width: 3px;
  }
  .markaKnappene {
    padding: 1rem;
    padding-right: 0;
  }
  .markaKnappene div img {
    height: 48px;
    width: 48px;
  }
  .markaKnappene div button {
    font-size: large;
  }
  .lukkeHovedKnapper {
    display: block;
  }
  .hovedVinduContainer {
    width: 384px;
    margin-top: 140px;
    margin-left: 0rem;
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    border: 3px solid var(--markakart-logo-fargen-shades4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .hovedVindu {
    /* margin-top: 1rem; */
  }
  .slide {
    display: none;
  }
  .rightButtonsContainer {
    margin-right: 1rem;
    bottom: 5rem;
    bottom: 1.5rem;
  }
/*   .gpsButtonContainer {
    margin-right: 1rem;
    bottom: 12rem;
  } */
  .debugGPSContainer {
    margin-right: 1rem;
    bottom: 16rem;
  }

  #scale-line-id {
    display: none;
  }

  #byttBakgrunn {
    left: unset;
    right: 5rem;
    bottom: 1.5rem;
  }
  #containerBytteBakgrunn {
    left: unset;
    right: 5rem;
    bottom: 1.5rem;
  }
  #bytteBakgrunnOSM {
    left: unset;
    right: 5rem;
    bottom: 14rem;
  }
  #bytteBakgrunnSatelitt {
    left: unset;
    right: 5rem;
    bottom: 11.5rem;
  }
  #bytteBakgrunnTopografisk {
    left: unset;
    right: 5rem;
    bottom: 9rem;
  }
  #bytteBakgrunnTopografiskGraa {
    left: unset;
    right: 5rem;
    bottom: 6.5rem;
  }
  #bytteBakgrunnForenklet {
    left: unset;
    right: 5rem;
    bottom: 4rem;
  }

  .hovedMenyTabsContainer button {
    padding: 1rem;
  }

}
/* DESKTOP+ */
@media only screen and (min-width : 800px){
  .hovedVinduKnapper {
    width: 448px;
    margin-left: 1rem;
  }
  .hovedVinduContainer {
    width: 448px;
    margin-left: 1rem;
  }
  #scale-line-id {
    display: block;
  }

}